<div class="header_row">
    <h3>Expenses Scheduled</h3>
    <button [routerLink]="['/add-expenses-scheduled/']" class="btn btn-block col-md-3 pull-right">Add New</button>
</div>
<div class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
            <div class="row" *ngFor="let expense of expenses">
                <div class="col-md-4">
                    {{expense.name}}
                </div>
                <div class="col-md-1">
                    {{expense.due}}
                </div>
                <div class="col-md-3">
                    {{expense.amount}}
                </div>
                <div class="col-md-1">
                   {{expense.status}}
                </div>
                <div class="col-md-3">
                    <button type="button" 
                    [routerLink]="['/edit-expenses-scheduled/']"
                    class="btn btn-link pull-left">Edit</button>
                    <button type="button" 
                    class="btn btn-link pull-right">Delete</button>
                </div>
            </div>
            <p>Total Due: {{ totalAmtDue }}</p>
       
    </div>
  </div>